* {
    margin:0;
    padding:0;
}
body {
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
}

.splash-div {
    min-height:94vh;
    width: 100%;
    background: #261F24;
}
.content-section {
    padding:3vw;
    min-height: 17vh;
}
.details {
    background: #F2784B;
}
.schedule {
    background: #F2A663;
}
.sponsors {
    background: #F2D57E;
}
.sponsors ul {
    color:#261F24;
    text-align: center;
}
.sponsors ul li {
    font-weight: bold;
}
.sponsors ul li img {
    height: 178px;
    max-height: none;
    width:auto;
}

.registration {
    background: #80F2E7;
}

h1, h2 {
    color:#261f24;
}
.splash-div h1 {
    color:#F2A663;
    font-family: 'Quicksand', sans-serif;
    font-size: 9.5vw;
    display:block;
    text-align: center;
    padding-top:6vh;
    text-shadow: 0px 10px 5px #111;
}
img + h3 {
    margin-top: 6vh;
}
h2 {
    color:#F2784B;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    text-align: center;
    text-shadow: 0px 7px 6px #121212;
}
h3, li p {
    color:#fff;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: calc(1vw + 6pt);
    margin-top:5px;
}
ul {
    
}
ul li {
    display: inline-block;
    width:30%;
    margin-left:2.5%;
    vertical-align: top;
    margin-top:10vh;
}
ul li img {
    width: 40%;
    display:block;
    margin:auto;
    max-height: 120px;
    color:#fff;
}
.button {
            	padding:10px;
            	display:block;
            	width:65%;
            	background: #e7e2e7;
            	border-radius: 15px;
            	text-align:center;
            	text-decoration:none;
            	font-weight:bold;
            	color:#261F24;
            	font-size:1.3em;
            	margin:5px auto;
            }
            .call-to-action {
            	background:#80F2E7;
                box-shadow: 0px 4px 4px #111;
            }